/* comment styles */
body {
    margin:0px;
    font-family: 'Roboto' , sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto slab', serif;
}

/* footer styles */
.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer >logo-footer img {
    width: 180px;
    height: 100%;
    /* filter: brightness(50%); */
    opacity: 0.5;
}

.footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: #cea135;
} 
